{% extends '_base.html' %}

{% block content %}
  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Имя</th>
      <th>Сокращение</th>
      <th>Изменить</th>
    </tr>
  </thead>
  <tbody>
    {% for unit in units %}
      <tr>
        <td>{{ unit.id }}</td>
        <td>{{ unit.name }}</td>
        <td>{{ unit.short_name }}</td>
        <td><a href="{% url 'unit_update' unit.id %}"><i class="fa fa-pencil"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}


{% block box-toolbox-r %}
  <a href="{% url 'unit_add' %}">
    <button type="button" class="btn btn-success">
      <i class="fa fa-plus"></i>&nbsp;Добавить
    </button>
  </a>
{% endblock %}