{% extends '_base.html' %}
{% load bootstrap3 %}

{% block content %}
  <form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "plus" %} Сохранить
        </button>
    {% endbuttons %}
  </form>
{% endblock %}