<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ c_site_name }} | {{ page_header }}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>-->
    <!--<link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}" type="text/css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "css/creative.css" %}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
    <!-- TODO: fix navigation links!!-->
    <div class="background" style="z-index: 130 !important;" data-bind="visible: waiter.status()"></div>
    <div id="waiter" data-bind="visible: waiter.status()" style="display: none;">
      <i class="fa fa-refresh fa-spin fa-3x"></i>
    </div>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="z-index: 15 !important;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'site_index' %}#page-top">{{ c_site_name }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="width: 90%;">
                <ul class="nav navbar-nav navbar-right" style="">
                      {% if request.user.get_full_name %}
                        <li><a href="{% url 'c_logout' %}">Выход ({{ request.user.get_full_name }})</a></li>
                        <li><a href="{% url 'orders' %}">Заказы</a></li>
                      {% else %}
                        <li><a href="{% url 'c_login' %}">Войти</a></li>
                        <li><a class="page-scroll" href="{% url 'register' %}">Зарегистрироваться</a></li>
                      {% endif %}
                    <li>
                        <a class="page-scroll" href="{% url 'site_index' %}#about">О нас</a>
                    </li>
                    <li>
                          <a class="page-scroll" href="{% url 'site_index' %}#services">Почему мы</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'site_index' %}#products">Продукция</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'site_index' %}#contact">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="cart-link-block">
                <a id="cart-link" class="cart-link" href="{% url 'cart' %}" style="padding: 10px;">
                <!-- ko if: cart().length > 0 && !location.pathname.endsWith("cart/") -->
                    <i class="fa fa-2x fa-cart-arrow-down cart-widget"></i>
                    <b class="cart-widget" style="font-size: x-large;" data-bind="text: cart().length"></b>
                    <!--<a href="">Go to cart</a>-->
                    <!-- or make order here? -->
                <!-- /ko -->
                <!-- ko if: cart().length == 0 && !location.pathname.endsWith("cart/") -->
                    <i class="fa fa-2x fa-cart-arrow-down text-muted"></i>
                    <b class="text-muted" style="font-size: x-large;">0</b>
                <!-- /ko -->
                </a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% block content %}
    {% endblock %}
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!-- TODO: write in russian -->
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <!--<p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>-->
                    <p class="text">Готовы купить фермеские продукты у нас? Мы ждем вашего звонка! Или Вы можете воспользоваться формой обратной связи, и мы Вам обязательно перезвоним!</p>
                </div>
                <div class="col-lg-2 col-lg-offset-3 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>Наш телефон:</p>
                    <p>898 2254 1153</p>
                </div>
                <div class="col-lg-2 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Задать вопрос касательно продукции:</p>
                    <p><a href="mailto:shop@elec-all.ru?Subject=Products%20question%20from%20elec-all">{{ shop_email }}</a></p>
                </div>
                <div class="col-lg-2 text-center">
                    <i class="fa fa-comment fa-3x wow bounceIn"></i>
                    <p>Нам важно ваше мнение!</p>
                    <!-- TODO: form does not working !! Fix it!! -->
                    <p><a href="#" data-bind="css: { 'disabled-link': customerVoted() == true }, click: showFeedbackForm()">Оставить отзыв</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/jquery.fittext.js" %}"></script>
    <script src="{% static "js/wow.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/creative.js" %}"></script>
    <script src="{% static "js/knockout.js" %}"></script>
    <script src="{% static "js/Product.js" %}"></script>
    <script src="{% static "js/ViewModel.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>

</body>

</html>
