<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>FreshApp | Вход</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/app_admin/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/app_admin/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/app_admin/plugins/iCheck/square/blue.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Esh </b>Fresh</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
      {% if already_logged %}
        <p class="login-box-msg">
          Вы уже вошли как <b>{{ request.user.get_full_name }}</b>. <br>
          <a href="{% url 'site_index' %}">Перейти на сайт</a> <br>
          <a href="{% url 'c_logout' %}">Выйти</a> <br>
        </p>
      {% elif error %}
        <p class="login-box-msg text-danger"><b>{{ error }}</b></p>
      {% else %}
        <p class="login-box-msg">Для доступа к личному кабинету требуется выполнить вход</p>
      {%  endif %}

    <form action="{% url 'c_login' %}" method="post">
      {% csrf_token %}
      <div class="form-group has-feedback">
        <input type="email" name="email" class="form-control" placeholder="Email" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="Пароль" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Войти</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <a href="#">Напомнить пароль</a><br>
    <a href="{% url 'register' %}" class="text-center">Зарегистрироваться</a>
  </div>
</div>

<script src="/static/app_admin/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<script src="/static/app_admin/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/app_admin/plugins/iCheck/icheck.min.js"></script>
</body>
</html>
