{% extends 'base.html' %}

{% block content %}

<section id="cart" style="padding-bottom: 0 !important;">
  <div class="container">
    <div class="row">
      <!-- ko if: cart().length > 0 -->
        <!-- ko if: settings() !== null && ! ableToOrder() -->
          <p class="text-danger"><strong><i class="fa fa-exclamation-triangle"></i> Минимальная сумма заказа в нашем
          интернет-магазине - <b data-bind="text: settings().minOrderSum"></b> <i class="fa fa-ruble"></i>. <a href="/#products">Добавьте</a> еще
          продуктов на <b data-bind="text: settings().minOrderSum - cart.total()"></b> <i class="fa fa-ruble"></i>. Спасибо!</strong></p>
        <!-- /ko -->
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Наименование</th>
{#              <th>Количество упаковок</th>#}
{#              <th>Количество в упаковке</th>#}
              <th>Всего</th>
              <th>Цена</th>
              <th>Стоимость</th>
              <th>Удалить</th>
              <th>Примечания</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: { data: cart(), as: 'product' }">
            <tr>
              <td data-bind="text: $index()+1"></td>
              <td data-bind="text: product.name"></td>
              <!--<td data-bind="text: product.count()"></td>
              <td><b data-bind="text: product.minAmount"></b> <b data-bind="text: product.units"></b> </td>-->
              <td> <b data-bind="text: product.positionAmount()"></b> <b data-bind="text: product.units"></b></td>
              <td><b data-bind="text: product.cost"></b> <i class="fa fa-ruble"></i></td>
              <td><b data-bind="text: product.price()"></b> <i class="fa fa-ruble"></i></td>
              <td><i class="fa fa-remove text-danger" data-bind="click: $root.deleteFromCart(product.id)"></i></td>
              <!-- ko if: product.count() > product.leftInStock -->
                <td class="text-danger"><i class="fa fa-exclamation-triangle"></i>  На складе меньше товара, чем нужно</td>
              <!-- /ko -->
              <!-- ko ifnot: product.count() > product.leftInStock -->
                <td></td>
              <!-- /ko -->
            </tr>
            <!-- ko if: $index() == $root.cart().length-1 -->
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
{#                <td></td>#}
{#                <td></td>#}
                <td></td>
                <td></td>
                <td>Сумма заказа: <b data-bind="text: $root.cart.total"></b> <i class="fa fa-ruble"></i></td>
              </tr>
            <!-- /ko -->
          </tbody>
        </table>
        <a href="#" class="text-muted" data-bind="click: $root.removeAllFromCart">
          <i class="fa fa-remove"></i> Удалить все
        </a>
        <!-- ko if: $root.ableToOrder -->
          <button style="float:right;" type="button" class="btn btn-xl btn-success" data-bind="click: $root.showOrderPopup()">
            <i class="fa fa-shopping-bag"></i> Заказать
          </button>
        <!-- /ko -->
        <!-- ko ifnot: $root.ableToOrder -->
          <a href="/#products" style="float:right;" type="button" class="btn btn-xl btn-primary">
            <i class="fa fa-shopping-cart"></i> Добавить еще..
          </a>
        <!-- /ko -->
        <div class="row" style="margin-top: 50px;">
          <div class="col-sm-2" style="float:right;text-align: right;">
            <a href="{% url 'site_index' %}#products">Продолжить покупки</a>
          </div>
        </div>
        <!-- ko if: orderPopupShown() -->
        <div class="background"></div>
        <div class="order-form">
          <p id="msg" class="text-info"></p>
          <p id="err" class="text-danger"></p>
          <p><i class="fa fa-remove" data-bind="click: hideOrderPopup()" style="float: right; cursor: pointer;"></i></p>
          <form id="order-form" class="form-horizontal" method="post" action="">
            {% csrf_token %}
            <div class="form-group">
              <label for="inputEmail" class="col-sm-4 control-label">Email</label>
              <div class="col-sm-8">
                <input type="email" id="inputEmail" class="form-control input-lg"
                       data-bind="css: { 'err-in-input': !customerEmail.isValid() && !firstShow() }, value: customerEmail" placeholder="Email" required>
              </div>
              <div class="col-sm-12" style="text-align: right;"><p style="font-size: x-small;" class="small-line text-danger" data-bind="visible: !customerEmail.isValid() && !firstShow()">Вероятно, поле заполнено неверно.</p></div>
            </div>
            <div class="form-group">
              <label for="inputPhone" class="col-sm-4 control-label">Телефон</label>
              <div class="col-sm-8">
                <input type="text" id="inputPhone"
                       data-bind="css: { 'err-in-input': !customerPhone.isValid() && !firstShow() }, value: customerPhone"
                       class="input-lg form-control bfh-phone" placeholder="Телефон" required>
              </div>
              <div class="col-sm-12" style="text-align: right;"><p  style="font-size: x-small;" class="small-line text-danger" data-bind="visible: !customerPhone.isValid() && !firstShow()">Вероятно, поле заполнено неверно.</p></div>
            </div>
            <!-- ko if: customerAuthenticated() == false -->
              <p><b class="text-left"><a href="{% url 'c_login' %}">Войти</a></b> <b class="text-right"><a href="{% url 'register' %}">Зарегистрироваться</a></b></p>
              <p class="text-danger"><i class="fa fa-warning"></i> Внимание! Оставляя заказ без регисрации, вы не сможете просматривать ваши заказы!</p>
              <p><input type="checkbox" value="" checked /> Согласен с условиями использования сайта</p>
            <!-- /ko -->
            <div class="form-group" style="position: absolute;bottom: 0;right: 55px;">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-xl btn-success" data-bind="click: $root.makeOrder()">
                  <i class="fa fa-check-circle"></i> Подтвердить
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- /ko -->
      <!-- /ko -->

      <!-- ko if: cart().length == 0 && orderCreated() == false -->
        <h2>Вы еще не совершали покупок..</h2>
        <p class="text-center" style="margin-top: 50px;"><a href="{% url 'site_index' %}#products" type="button" class="btn btn-xl btn-primary">
          <i class="fa fa-shopping-bag"></i> Срочно купить вкусняшек!
        </a></p>
      <!-- /ko -->
      <!-- ko if: orderCreated() == true -->
        <h3 data-bind="text: order().success"></h3>
        <p>Номер заказа: <b data-bind="text: order().number"></b></p>
        <p>Дата заказа: <b data-bind="text: order().date"></b></p>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Наименование</th>
              <th>Количество</th>
              <th>Цена</th>
              <th>Стоимость</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: { data: order().items, as: 'oi' }">
            <tr>
              <td data-bind="text: $index()+1"></td>
              <td data-bind="text: oi.product.name"></td>
              <td><b data-bind="text: oi.amount"></b> <b data-bind="text: product.units.short_name"></b></td>
              <td><b data-bind="text: oi.product.price_per_min_amount"></b> <i class="fa fa-ruble"></i></td>
              <td><b data-bind="text: oi.price"></b> <i class="fa fa-ruble"></i></td>
            </tr>
          </tbody>
        </table>
        <p>Сумма заказа: <b data-bind="text: order().total"></b> <i class="fa fa-ruble"></i></p>
        <p>Мы отправили информацию о заказе на Вашу электронную почту '<b data-bind="text: order().email"></b>'</p>
        <a href="{% url 'site_index' %}#products">Продолжить покупки</a>
      <!-- /ko -->
    </div>
  </div>
</section>
{% endblock %}