<!DOCTYPE html>
<!-- TODO: create and update templates is similar for all model views !! Move them to templates directory? -->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site_name }} | {{ page_header }}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/app_admin/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/app_admin/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/app_admin/dist/css/skins/skin-purple.min.css">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">
  <!-- Main Header -->
{% if request.user.get_full_name %}
  <a href="{% url 'c_logout' %}">Выход ({{ request.user.get_full_name }})</a>
{% else %}
  <a href="{% url 'c_login' %}">Войти</a>
{% endif %}
  <!-- Left side column. contains the logo and sidebar -->
 <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h4 class="box-title">
                {% if parent_title and parent_link %}
                  <a href="{{ parent_link }}">&nbsp;{{ parent_title }}</a>
                  &nbsp;&nbsp;
                  <i class="fa fa-angle-right"></i>
                  &nbsp;&nbsp;
                {% endif %}
                {{ page_header }}
              </h4>
            <div class="box-toolbox pull-right">
              {% block box-toolbox-r %}{% endblock %}
            </div>
            </div>
            <div class="box-body">
              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <strong>&copy; {{ year }} <a href="#">Fresh App</a>.</strong>

  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
<script src="/static/app_admin/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<script src="/static/app_admin/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/app_admin/dist/js/app.min.js"></script>
{% block ext-js %}
{% endblock %}
</body>
</html>
