{% extends "c_index.html" %}


{% block content %}
<section id="cart" style="padding-bottom: 0 !important;">
  <div class="container">
    <div class="row">
      <!--ko ifnot: orders().length > 0-->
        <p class="text-bold"> Вы еще не оставили заказов</p>
      <!--/ko-->
      <!--ko if: orders().length > 0-->
      <div data-bind="foreach: { data: orders(), as: order }">
        <p>Номер заказа: <b data-bind="text: order.number"></b></p>
        <p>Дата заказа: <b data-bind="text: order.date"></b></p>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Наименование</th>
              <th>Количество</th>
              <th>Цена</th>
              <th>Стоимость</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: { data: order.items, as: 'oi' }">
            <tr>
              <td data-bind="text: $index()+1"></td>
              <td data-bind="text: oi.product.name"></td>
              <td> <b data-bind="text: oi.amount"></b> <b data-bind="text: oi.product.units.short_name"></b></td>
              <td><b data-bind="text: oi.product.price_per_min_amount"></b> <i class="fa fa-ruble"></i></td>
              <td><b data-bind="text: oi.price"></b> <i class="fa fa-ruble"></i></td>
            </tr>
          </tbody>
        </table>
        <p>Сумма заказа: <b data-bind="text: order.total"></b> <i class="fa fa-ruble"></i></p>
        <hr>
      </div>
      <!--/ko-->
    </div>
  </div>
</section>
{% endblock %}