{% extends 'c_index.html' %}

{% block product-tiles %}
{% load staticfiles %}
<div data-bind="foreach: { data: productsToShow, as : 'product' }">
  <div class="col-lg-3 col-sm-4 no-padding" style="height:100%; text-align: center;">
    <a data-bind="click: $root.getProduct(product.id)" class="portfolio-box">
      <!--ko foreach: { data: product.images, as: 'image' } -->
        <!-- ko if: $index() == 0 -->
          <img data-bind="attr: { src: image.thumb }" class="img-responsive" alt="">
        <!-- /ko -->
      <!-- /ko -->
{#      <div class="portfolio-box-caption">#}
{#        <div class="portfolio-box-caption-content">#}
{##}
{#        </div>#}
{#      </div>#}
    </a>
    <div class="well">
      <b class="project-category" data-bind="text: product.name"></b>
        <b data-bind="text: product.cost"></b> <i class="fa fa-ruble"></i> /
        <b data-bind="text: product.minAmount"></b> <b data-bind="text: product.units"></b>
      <a href="#" data-bind="click: $root.getProduct(product.id)">Подробнее..</a>

      <p style="margin-bottom: 0;">Доставим в <b data-bind="text: product.arrivalAtString()"></b></p>
      <!-- ko ifnot: product.isInCart() -->
      <div class="row" style="padding: 10px;">
        <div style="width: 140px; margin: 0 auto;">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" data-bind="click: product.decreaseCount()"><i class="fa fa-minus"></i></button>
            </span>
            <input type="text" class="form-control" data-bind="value: product.count() + ' шт.'" readonly="readonly">
            <!-- ko if: product.isInCart() -->
              <!--<input type="text" class="form-control" data-bind="value: product.count() + 'шт.'">-->
            <!-- /ko -->
            <!-- ko ifnot: product.isInCart() -->
              <!--<input type="text" class="form-control" value="1 шт.">-->
            <!-- /ko -->
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" data-bind="click: product.increaseCount()"><i class="fa fa-plus"></i></button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
      <!-- /ko -->
      <!-- ko if: product.isInCart() -->
      <i class="fa fa-check"></i> <a href="{% url 'cart' %}">В корзине</a>
      <span><b data-bind="text: product.count()"></b> шт.</span>
      <!-- /ko -->
      <!-- ko ifnot: product.isInCart() -->
        <p><button class="btn btn-success" data-bind="click: $root.addToCart.bind($data)">В корзину</button></p>
      <!-- /ko -->
      <!-- ko if: product.inStock == false -->
      <!-- /ko -->
      <!-- ko if: product.isInCart() -->
        <!--<div><i class="fa fa-check"></i> Добавлено
        <b data-bind="text: product.positionAmount()"></b> <b data-bind="text: product.units"></b></div>-->
      <!-- /ko -->
      <!-- addToCart should be invoked with .bind() !! -->
    </div>
  </div>
</div>
{% endblock %}