{% extends '_base.html' %}

{% block content %}
  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Вкл</th>
      <th>Имя</th>
      <th>Телефон</th>
      <th>Город</th>
      <th>Изменить</th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
      <tr>
        <td>{{ client.id }}</td>
        <td><i class="fa {% if client.is_active %}fa-check text-success{% else %}fa-remove text-danger{% endif %}"></i></td>
        <td>{{ client.get_full_name }}</td>
        <td>{{ client.phone }}</td>
        <td>{% if client.city %}{{ client.city.name }}{% else %}-{% endif %}</td>
        <td><a href="{% url 'client_update' client.id %}"><i class="fa fa-pencil"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}


{% block box-toolbox-r %}
  <a href="{% url 'client_add' %}">
    <button type="button" class="btn btn-success">
      <i class="fa fa-plus"></i>&nbsp;Добавить
    </button>
  </a>
{% endblock %}