{% extends '_base.html' %}

{% block content %}
  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Покупатель</th>
      <th>Дата</th>
      <th>Сумма</th>
      <th>Скидка</th>
      <th>Комментарий</th>
      <th>Статус</th>
      <th>Клиент зарегистрирован</th>
      <th>Изменить</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.get_person }}</td>
        <td>{{ order.date }}</td>
        <td>{{ order.total }}</td>
        <td>{{ order.discount }}</td>
        <td>{{ order.comment }}</td>
        <td>{{ order.status.name }}</td>
        {% if order.user_registered %}
          <td><i class="text-success fa fa-check"></i></td>
        {% else %}
          <td>-</td>
        {% endif %}
        <td><a href="{% url 'order_update' order.id %}"><i class="fa fa-pencil"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}


{% block box-toolbox-r %}
  <a href="{% url 'order_add' %}">
    <button type="button" class="btn btn-success">
      <i class="fa fa-plus"></i>&nbsp;Добавить
    </button>
  </a>
{% endblock %}