{% extends '_base.html' %}

{% block content %}
  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>Категория</th>
      <th>Продавец</th>
      <th>Мин. кол-во</th>
      <th>Цена, <i class="fa fa-rouble"></i></th>
      <th>Остаток (ед. реализации)</th>
      <th>Изменить</th>
      <th>Удалить</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category.name }}</td>
        <td>{{ product.seller.name }}</td>
        <td>{{ product.minimal_amount }} {{ product.units.short_name }}</td>
        <td>{{ product.price_per_min_amount }}</td>
        <td>
          {% if product.is_in_stock %}
            {{ product.left_in_stock }} е.р.
          {% else %}
            <p class="text-danger">
              нет
            </p>

          {% endif %}
        </td>
        <td><a href="{% url 'product_update' product.id %}"><i class="fa fa-pencil"></i></a></td>
        <td><a href="{% url 'product_remove' product.id %}"><i class="fa fa-remove text-danger"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}


{% block box-toolbox-r %}
  <a href="{% url 'product_add' %}">
    <button type="button" class="btn btn-success">
      <i class="fa fa-plus"></i>&nbsp;Добавить
    </button>
  </a>
{% endblock %}