{% extends '_base.html' %}
{% load bootstrap3 %}

{% block content %}
  <form action="" method="post" class="form">
    {% csrf_token %}
    <p>{{ product.name }}</p>
    {% buttons %}
        <button type="submit" class="btn btn-danger">
            {% bootstrap_icon "remove" %} Удалить
        </button>
    {% endbuttons %}
  </form>
{% endblock %}