{% extends '_base.html' %}
{% load bootstrap3 %}

{% block content %}
  <form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "plus" %} Сохранить
        </button>
    {% endbuttons %}
  </form>

  <form action="{% url 'product_toggle_active' product.id %}" method="post">
    {% csrf_token %}

    {%  if product.enabled %}
      <button type="submit" class="btn btn-danger">
        {% bootstrap_icon "remove" %} Отключить
      </button>
    {% else %}
      <button type="submit" class="btn btn-success">
      {% bootstrap_icon "check" %} Включить
    </button>
    {% endif %}
  </form>

  <a href="{% url 'product_images_list' product.id%}">Просмотреть изображения</a>
  <div class="row">
    {% for i in images %}
      <div class="col-sm-1">
        <p><img src="{{ i.thumb }}" alt="" width="100" height="100"></p>
        <a href="{% url 'image_remove' product.id i.id %}"><i class="fa fa-remove text-danger">Удалить</i></a>
      </div>
    {% endfor %}
  </div>
  <a href="{% url 'add_image_to_product' product.id %}"><i class="fa fa-file-image-o"></i> Добавить изображение..</a>

{% endblock %}