{% extends '_base.html' %}
{% load bootstrap3 %}

{% block content %}
  <form action="" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      {% bootstrap_field field %}
    {% endfor %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "plus" %} Добавить
        </button>
    {% endbuttons %}
  </form>
{% endblock %}