{% extends '_base.html' %}

{% block content %}
  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Дата</th>
      <th>Превью</th>
    </tr>
  </thead>
  <tbody>
    {% for image in images %}
      <tr>
        <td>{{ image.id }}</td>
        <td>{{ image.date }}</td>
        <td><div class="col-sm-4"><img class="img-responsive" src="{{ image.thumb.url }}" alt=""></div></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}


{% block box-toolbox-r %}
  {% if product_id %}
    <a href="{% url 'add_image_to_product' product_id %}">
      <button type="button" class="btn btn-success">
        <i class="fa fa-plus">
          Добавить
        </i>
      </button>
    </a>
  {% else %}
    <a href="{% url 'image_add' %}">
    <button type="button" class="btn btn-success">
      <i class="fa fa-plus">
        Добавить
      </i>
    </button>
  </a>
  {% endif %}
{% endblock %}