{% extends '_base.html' %}
{% load bootstrap3 %}

{% block content %}
  <p>Вы уверены что хотите удалить изображение?</p>
  <img src="{{ thumb }}" alt="">
  <form action="" method="post" class="form">
    {% csrf_token %}
    {% buttons %}
        <button type="submit" class="btn btn-danger">
            {% bootstrap_icon "remove" %} Удалить
        </button>
    {% endbuttons %}
  </form>
{% endblock %}