{% extends '_base.html' %}

{% block content %}
  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Имя</th>
      <th>Часовой пояс</th> <!-- TODO: calculate it as model's verbose name! -->
      <th>Изменить</th>
    </tr>
  </thead>
  <tbody>
    {% for city in cities %}
      <tr>
        <td>{{ city.id }}</td>
        <td>{{ city.name }}</td>
        <td>{{ city.timezone }}</td>
        <td><a href="{% url 'city_update' city.id %}"><i class="fa fa-pencil"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}


{% block box-toolbox-r %}
  <a href="{% url 'city_add' %}">
    <button type="button" class="btn btn-success">
      <i class="fa fa-plus"></i>&nbsp;Добавить
    </button>
  </a>
{% endblock %}