{% extends '_base.html' %}

{% block content %}
  {% load bootstrap3 %}

  <form action="" method="GET" class="form-inline">
    <select id="cat" class="form-control" name="cat_id">
      <option value="">Категория..</option>
      {% for cat in categories %}
        <option value="{{ cat.id }}" {% if cat.id == filter_by_cat %}selected{% endif %}>{{ cat.name }}</option>
      {% endfor %}
    </select>
  <button type="submit" class="btn btn-primary">Искать</button>
  </form>


  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Вкл</th>
      <th>Имя</th>
      <th>Телефон</th>
      <th>Город</th>
      <th>Кол-во товаров</th>
      <th>Изменить</th>
    </tr>
  </thead>
  <tbody>
    {% for seller in sellers %}
      <tr>
        <td>{{ seller.id }}</td>
        <td><i class="fa {% if seller.is_active %}fa-check text-success{% else %}fa-remove text-danger{% endif %}"></i></td>
        <td>{{ seller.get_full_name }}</td>
        <td>{{ seller.phone }}</td>
        <td>{% if seller.city %}{{ seller.city.name }}{% else %}-{% endif %}</td>
        <td>{{ seller.prod_count }}</td>
        <td><a href="{% url 'seller_update' seller.id %}"><i class="fa fa-pencil"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}


{% block box-toolbox-r %}
  <a href="{% url 'seller_add' %}">
    <button type="button" class="btn btn-success">
      <i class="fa fa-plus"></i>&nbsp;Добавить
    </button>
  </a>
{% endblock %}

{% block ext-js %}
  <script src="/static/app_admin/plugins/select2/select2.min.js"></script>
  <script type="text/javascript">
    //$(document).ready(function() {
    //    $(".select-category").select2();
    //});
  </script>
{% endblock %}