{% extends '_base.html' %}
{% load bootstrap3 %}

{% block content %}
  <form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "plus" %} Сохранить
        </button>
    {% endbuttons %}
  </form>

  <form action="{% url 'seller_toggle_active' seller.id %}" method="post">
    {% csrf_token %}

    {%  if seller.is_active %}
      <button type="submit" class="btn btn-danger">
        {% bootstrap_icon "remove" %} Отключить
      </button>
    {% else %}
      <button type="submit" class="btn btn-success">
      {% bootstrap_icon "check" %} Включить
    </button>
    {% endif %}
  </form>
{% endblock %}