<!DOCTYPE html>
<!-- TODO: create and update templates is similar for all model views !! Move them to templates directory? -->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site_name }} | {{ page_header }}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/app_admin/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/app_admin/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/app_admin/dist/css/skins/skin-purple.min.css">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">
  <!-- Main Header -->
  <header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">FA</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">{{ site_name }}</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
        <li>
          <a href="{% url 'logout' %}">Выход ({{ request.user.get_full_name }})</a>
        </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <!-- TODO: active class on item in this list faded out if user clicks on 'users' item!! -->
      <ul class="sidebar-menu">
        <!-- Optionally, you can add icons to the links -->
        <li {% if current_page == 'main' %} class="active" {% endif %}>
          <a href="{% url 'admin_index' %}">
            <i class="fa fa-dashboard"></i> <span>Главная</span>
          </a>
        </li>

        <li class="treeview {% if current_group == 'users' %} active {% endif %}">
          <a href="#">
            <i class="fa fa-users"></i> <span>Пользователи</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li {% if current_page == 'sellers' %} class="active" {% endif %}><a href="{% url 'sellers_list' %}"><i class="fa fa-user"></i> <span>Продавцы</span></a></li>
            <li {% if current_page == 'clients' %} class="active" {% endif %}><a href="{% url 'clients_list' %}"><i class="fa fa-user"></i> <span>Клиенты</span></a></li>
          </ul>
        </li>

        <li {% if current_page == 'products' %} class="active" {% endif %}>
          <a href="{% url 'products_list' %}">
            <i class="fa fa-shopping-basket"></i> <span>Продукты</span>
          </a>
        </li>

        <li {% if current_page == 'images' %} class="active" {% endif %}>
          <a href="{% url 'images_list' %}">
            <i class="fa fa-file-image-o"></i> <span>Изображения</span>
          </a>
        </li>

        <li {% if current_page == 'orders' %} class="active" {% endif %}>
          <a href="{% url 'orders_list' %}">
            <i class="fa fa-shopping-bag"></i> <span>Заказы</span>
          </a>
        </li>

        <li class="treeview {% if current_group == 'dicts' %} active {% endif %}">
          <a href="#">
            <i class="fa fa-cog"></i> <span>Справочники</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li {% if current_page == 'cities' %} class="active" {% endif %}>
              <a href="{% url 'cities_list' %}">
                <i class="fa fa-globe"></i> <span>Города</span>
              </a>
            </li>
            <li {% if current_page == 'units' %} class="active" {% endif %}>
              <a href="{% url 'units_list' %}">
                <i class="fa fa-balance-scale"></i> <span>Единицы измерения</span>
              </a>
            </li>
            <li {% if current_page == 'categories' %} class="active" {% endif %}>
              <a href="{% url 'categories_list' %}">
                <i class="fa fa-book"></i> <span>Категории товаров</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h4 class="box-title">
                {% if parent_title and parent_link %}
                  <a href="{{ parent_link }}">&nbsp;{{ parent_title }}</a>
                  &nbsp;&nbsp;
                  <i class="fa fa-angle-right"></i>
                  &nbsp;&nbsp;
                {% endif %}
                {{ page_header }}
              </h4>
            <div class="box-toolbox pull-right">
              {% block box-toolbox-r %}{% endblock %}
            </div>
            </div>
            <div class="box-body">
              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <!-- <div class="pull-right hidden-xs">
      это будет в правой части футера
    </div> -->
    <!-- Default to the left -->
    <strong>&copy; {{ year }} <a href="#">Fresh App</a>.</strong>
  </footer>

  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
<script src="/static/app_admin/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<script src="/static/app_admin/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/app_admin/dist/js/app.min.js"></script>
{% block ext-js %}
{% endblock %}
</body>
</html>
